<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICandyCrushServices" />
                <binding name="BasicHttpBinding_ICandyCrushServices1" />
                <binding name="BasicHttpBinding_ICandyCrushServices2" />
                <binding name="BasicHttpBinding_ICandyCrushServices3" />
                <binding name="BasicHttpBinding_ICandyCrushService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:63679/CandyCrushServices.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICandyCrushServices"
                contract="ServiceReference1.ICandyCrushServices" name="BasicHttpBinding_ICandyCrushServices" />
            <endpoint address="http://localhost:63679/CandyCrushServices.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICandyCrushServices1"
                contract="ServiceReference1.ICandyCrushServices" name="BasicHttpBinding_ICandyCrushServices1" />
            <endpoint address="http://localhost:63679/CandyCrushServices.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICandyCrushServices2"
                contract="CandyCrushService.ICandyCrushServices" name="BasicHttpBinding_ICandyCrushServices2" />
            <endpoint address="http://localhost:63679/CandyCrushServices.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICandyCrushServices3"
                contract="ServiceReference1.ICandyCrushServices" name="BasicHttpBinding_ICandyCrushServices3" />
            <endpoint address="http://localhost:64258/CandyCrushService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICandyCrushService"
                contract="CCService.ICandyCrushService" name="BasicHttpBinding_ICandyCrushService" />
        </client>
    </system.serviceModel>
</configuration>